[submodule "python/plugins"]
	path = python/plugins
	url = https://github.com/albertlauncher/python.git
[submodule "uuid"]
	path = uuid
	url = https://github.com/Ghoelian/albert-uuid.git
[submodule "convert"]
	path = convert
	url = git@github.com:Ghoelian/albert-convert.git
